{% extends 'back.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block body %}
    <h1>Reservation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Date</th>
                <th>User</th>
                <th>Hopital</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.Description }}</td>
                <td>{{ reservation.Date ? reservation.Date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ reservation.UserReservation.id }}</td>
                <td>{{ reservation.Urgence.Hopital.Nom }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
