{% extends 'base.html.twig' %}

{% block title %}New Reservation{% endblock %}

{% block body %}
    <h1>Create new Reservation</h1>

    <form method="post">
        {{ form_start(form) }}

        <div class="form-group">
            <label for="{{ form.Description.vars.id }}">Description</label>
            {{ form_widget(form.Description, {'attr': {'class': 'form-control'}}) }}
            {% if form_errors(form.Description) %}
                <div class="alert alert-danger">
                    {% for error in form_errors(form.Description) %}
                        <div>{{ error.message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="{{ form.Etat.vars.id }}">Etat</label>
            {{ form_widget(form.Etat, {'attr': {'class': 'form-control'}}) }}
            {% if form_errors(form.Etat) %}
                <div class="alert alert-danger">
                    {% for error in form_errors(form.Etat) %}
                        <div>{{ error.message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
        {{ form_end(form) }}
    </form>
{% endblock %}
