{% extends 'base.html.twig' %}

{% block title %}Détails de l'hôpital{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row justify-content-center" style="margin-top: 100px;">
            <div class="col-md-6">
                <div class="card">
                    <div id="carousel_{{ hopital.id }}" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            {% for key, image in hopital.hopitalImages %}
                                <div class="carousel-item {% if loop.first %}active{% endif %}">
                                    <img src="{{ asset(image.ImageUrl) }}" class="card-img-top" alt="...">
                                </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carousel_{{ hopital.id }}" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carousel_{{ hopital.id }}" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>

                    </div>
                    <div class="card-body" style="font-size: 20px; padding: 20px;">
                        <h4 class="card-title">Hopital</h4>
                        <p class="card-description"></p>
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <th>Nom</th>
                                    <td>{{ hopital.Nom }}</td>
                                </tr>
                                <tr>
                                    <th>Localisation</th>
                                    <td>{{ hopital.Localisation }}</td>
                                </tr>

                                </tbody>
                            </table>
                            {% if urgence is null %}
                            {% else %}
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <th>Description</th>
                                        <td>{{ urgence.Description }}</td>
                                    </tr>
                                    <tr>
                                        <th>NombreLit</th>
                                        <td>{{ urgence.NombreLit }}</td>
                                    </tr>
                                    <tr>
                                        <th>Specialite</th>
                                        <td>{{ urgence.Specialite }}</td>
                                    </tr>
                                    <tr>
                                        <th>NombreLitDisponible</th>
                                        <td>{{ total }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="text-center">
                                    <a href="{{ path('app_reservation_new',{'id_urgence':urgence.id}) }}" class="btn btn-primary mt-3">Réserver</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="text-center">
        <a href="{{ path('app_hopital_index_user') }}" class="btn btn-primary mt-3">Retour à la liste</a>
    </div>
    <script>
        // Activate the carousels
        var carousels = document.querySelectorAll('.carousel');
        carousels.forEach(function(carousel) {
            new bootstrap.Carousel(carousel, {
                interval: 3000, // Change slide every 3 seconds
                wrap: true
            });
        });
    </script>
{% endblock %}
